#msgs_scroller_div::-webkit-scrollbar-track, #client_body::before, .client_container,
#search_terms, #client_body, #footer, ts-message, .channel_header, ts-jumper ts-jumper-container,
ts-jumper input[type="text"] {
  background: #192231 !important;
}

#client_body::before {
  border-bottom: 1px solid #494E6B !important;
}

ts-message, .channel_title .channel_name, ts-jumper input[type="text"],
ts-jumper ol li .member_real_name, ts-jumper ol li .view_name, ts-jumper ol li .channel_name {
  color: #eee !important;
}

.light_theme ts-message .message_content .message_sender, #msg_input::-webkit-input-placeholder,
ts-jumper input[type="text"]::-webkit-input-placeholder {
  color: #aaa !important;
}

#msg_input, #primary_file_button {
  background: transparent !important;
  color: #eee !important;
  border-color: #98878F !important;
}

.day_divider .day_divider_label {
  color: #eee !important;
}

.day_container .day_msgs {
  border-top: 1px solid #494E6B !important;
}

ts-message:hover, .day_divider .day_divider_label {
  background: #494E6B !important;
}

#messages_container::after {
  background: none !important;
}

.bot_label {
  padding: 0 4px !important;
  border-radius: 3px !important;
  background: #0a233a !important;
}
