
#flex_contents{
  background: #757571;

}
#messages_container, #client_header{
  background: #181712;

}
#msg_input, #primary_file_button {
  background: transparent !important;
  color: #eee !important;
  border-color: #444 !important;
}
